.hero {
    display: flex;
    .contact {
        width: 50%;
        max-width: 435px;
        margin: 200px auto 100px;
        h1 {
            font-size: 40px;
            font-family: var(--golanoBold-font);
            line-height: 95px;
            color: var(--main-color-100);
            text-transform: capitalize;
        }
        .description {
            font-size: 18px;
            font-family: var(--golanoMedium-font);
            line-height: 32px;
            color: var(--main-color-100);
        }
        form {
            margin-top: 5px;
            input,
            textarea {
                margin-top: 30px;
            }
            .container-checkbox {
                display: flex;
                position: relative;
                align-items: center;
                margin-top: 25px;
                #check {
                    & + label {
                        margin-left: 30px;
                    }
                }
                label {
                    a {
                        display: initial;
                        color: var(--main-color-900);
                        text-decoration: underline;
                        transition: all 350ms ease-out;
                        font-family: var(--golanoSemiBold-font);
                        &:hover {
                            color: var(--main-color-200);
                        }
                    }
                }
            }
            .gradient-btn-fix,
            .gradient-btn-windows {
                margin-top: 50px;
            }
        }
        .terms {
            font-size: 14px;
            font-family: var(--golanoRegular-font);
            line-height: 24px;
            margin-top: 25px;
            color: var(--main-color-100);
            a {
                display: initial;
                color: var(--main-color-900);
                text-decoration: underline;
                transition: all 350ms ease-out;
                font-family: var(--golanoSemiBold-font);
                font-size: 14px;
                line-height: 24px;
                &:hover {
                    color: var(--main-color-200);
                }
            }
        }
    }
    .img-container {
        width: 50%;
        background-color: var(--main-color-100);
        background-image: url("/img/hire-us-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        img {
            width: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 1600px) {
        .img-container {
            background-position: top center;
        }
    }

    @media (max-width: 991px) {
        flex-direction: column;
        .contact {
            width: 100%;
            max-width: 100%;
            padding: 0 20px;
            margin: 115px auto 65px;
            h1 {
                font-size: 36px;
                line-height: 63px;
            }
            .description {
                font-size: 16px;
                line-height: 26px;
            }
            form {
                margin-top: 0;
                .container-checkbox {
                    margin-top: 20px;
                }
                .gradient-btn-fix,
                .gradient-btn-windows {
                    margin-top: 40px;
                }
            }
        }
        .img-container {
            display: none;
        }
    }

    @media (max-width: 575px) {
        .contact {
            padding: 0 17px;
            h1 {
                font-size: 32px;
                line-height: 32px;
            }
            .description {
                font-size: 14px;
                line-height: 20px;
                margin-top: 15px;
            }
        }
    }
}

.rating {
    padding: 65px 70px;
    background-color: var(--main-color-120);
    .large-container {
        display: flex;
    }
    .card-rating {
        width: calc(100% / 3);
        position: relative;
        padding: 20px 10px;
        .width-div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 295px;
            margin: auto;
            height: 100%;
        }
        h3 {
            font-size: 29px;
            font-family: var(--golanoSemiBold-font);
            line-height: 42px;
            color: var(--main-color-100);
        }
        p {
            font-size: 15px;
            font-family: var(--golanoRegular-font);
            line-height: 24px;
            color: var(--main-color-100);
            margin-top: 10px;
        }
        &:not(:last-child) {
            &::after {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--main-border-400);
            }
        }
    }

    @media (max-width: 991px) {
        padding: 25px 20px;
        .large-container {
            flex-direction: column;
        }
        .card-rating {
            width: 100%;
            padding: 30px 0;
            text-align: center;
            .width-div {
                max-width: 100%;
            }
            h3 {
                font-size: 23px;
                line-height: 30px;
            }
            &:not(:last-child) {
                &::after {
                    width: 110px;
                    height: 2px;
                    top: initial;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    @media (max-width: 575px) {
        padding: 25px 17px;
        .card-rating {
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
