:root{

//colors
    --white-color: #ffffff;
    --black-color: #000000;
    --main-color-100: #0e1029;
    --main-color-200: #f86c68;
    --main-color-300: #0e1029;
    --main-color-400: #e62779;
    --main-color-500: #686a8f;
    --main-color-600: #171a44;
    --main-color-700: #4b4e62;
    --main-color-800: #263551;
    --main-color-900: #188ef3;
    --main-color-110: #1e3354;
    --main-color-120: #f4f4f4;

    --main-border-100: #312d41;
    --main-border-200: #dde2e5;
    --main-border-300: #8ccaff;
    --main-border-400: #8991a2;
    --main-gradient-100: linear-gradient(135deg, #3d293e, #182141, #122e53, #162244);

    --input-text: #404040;

//fonts
    --golanoMedium-font: Galano Grotesque-Medium;
    --golanoBold-font: Galano Grotesque-Bold;
    --golanoSemiBold-font: Galano Grotesque-SemiBold;
    --golanoRegular-font: Galano Grotesque-Regular;
    --golanoExtraBold-font: Galano Grotesque-ExtraBold;

}
