.main-container {
    width: 970px;
    max-width: 100%;
    margin: auto;
}

.large-container {
    width: 1170px;
    max-width: 100%;
    margin: auto;
}

.large-container-100 {
    width: 1320px;
    max-width: 100%;
    margin: auto;
}