.main-header{
    font-size: 90px;
    font-family: var(--golanoBold-font);
    color: var(--white-color);
    text-transform: capitalize;
    margin: 0;
}
.orange{
    font-size: 90px;
    font-family: var(--golanoBold-font);
    color: var(--orangeDark-color);
    display: block;
}
