@import "../partials/main-header";

a {
    text-decoration: none;
    color: black;
    display: block;
    &:hover {
        text-decoration: none;
    }
}
ul {
    list-style: none;
    padding: 0;
}
li{
    list-style-type: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}
